In [103]:
import pandas as pd

In [104]:
df = pd.read_csv('../../../../바탕 화면/Data/csv/Uriage.csv')

In [105]:
df.head()

## 정형화 작업 필요

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

#### uriage 데이터의 문제점
1. item_name 대/소문자 문제
    - 대/소문자 통일
    - upper(), lower()
2. item_name 공백 존재
    - 공백 제거
    - strip(), replace()
3. 결측치

In [106]:
## item_name 문자를 모두 대문자로 변환
df2=df.copy()

In [107]:
## case1(반복문)
for i in range(len(df2)):
    df2.loc[i, 'item_name'] = df2.loc[i, 'item_name'].upper()

In [108]:

df2.head(3)

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 A         NaN           김유찬

In [109]:
# case2(map()함수 -> 1차원 자료형 데이터의 각 데이터 1 개씩 추출 후 작업)
## Base(python) : map(함수, 1차원 리스트명)
_list = [1,2,3,4]
# map(), lambda 결합
list((map(
    lambda x : x+1,
    _list
)
)

)
# map(), 일반 함수 결합
def change(x):
    return x+2
list(
    map(
        change,
        _list
    )
)

[3, 4, 5, 6]

#### lambda 함수
- 선언과 동시에 호출
    - lamda 매개변수명 : 실행이 될 코드
- 일반함수로 사용하기에 너무 간단한 작업에 사용

In [110]:
## Series에 내장된 map() 함수
df3 = df.copy()

In [111]:
# map + lambda
df3['item_name'].map(
    lambda x : x.upper()
)

0         상품A
1       상 품 S
2       상 품 A
3         상품Z
4         상품A
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [112]:
# map + 일반함수
def change2(x):
    result = x.upper()
    return result
df3['item_name'] = df3['item_name'].map(
    change2
)

In [113]:
# df2['item_name'][1].strip() : 양 끝 공백 제거

# replace()
df2['item_name'][1].replace(' ','')

'상품S'

In [114]:
# Series에 내장된 replace() 함수는 각 데이터들을 기준으로 치환하는 함수
# df2['item_name'].replace(' ','')  : 공백인 인수를 지워줌


# 반복문을 이용
for i in range(len(df2)) :
    df2.loc[i,'item_name'] = df2['item_name'][i].replace(' ','')

In [115]:
df2['item_name']

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [116]:
# map함수 + lambda를 이용한 공백 제거
df3['item_name'] = df3['item_name'].map(
    lambda x : x.replace(' ', '')
)

In [117]:
df3

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05       상품S         NaN           김우찬
2     2019-05-11 19:42       상품A         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품A         NaN           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [118]:
# Series 데이터에서 문자열 함수를 호출
df['item_name'] = df['item_name'].str.upper().str.replace(" ","")

In [119]:
df.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05       상품S         NaN           김우찬
2  2019-05-11 19:42       상품A         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품A         NaN           김강현

- 결측치를 다른 값으로 대체
    1. 상품명에 따라 상품 가격들이 고정
    2. 결측치를 상품명에 맞춰서 해당 상품의 결측치가 아닌 상품 가격을 결측치에 대체

        - ex) 상품A인 데이터 중 item_price가 결측치가 아닌 데이터의 평균 값을 구하고 해당 평균값을 상품A인 데이터 중 item_price가 결측치인 부분에 대입

In [120]:
# 상품A인 데이터만 출력

## 인덱스의 조건식 (item_name == '상품A')
flag = df2['item_name'] == '상품A'
df2.loc[flag]

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
2     2019-05-11 19:42       상품A         NaN           김유찬
4      2019-04-22 3:09       상품A         NaN           김강현
6     2019-05-18 19:16       상품A         NaN           김재준
9     2019-01-28 10:47       상품A       100.0           김태윤
...                ...       ...         ...           ...
2875  2019-06-03 17:33       상품A       100.0           김서진
2886  2019-04-25 17:15       상품A       100.0           김강현
2897  2019-05-20 14:05       상품A       100.0           김지안
2951   2019-05-06 2:24       상품A       100.0           김주혁
2973  2019-07-13 21:38       상품A       100.0           김태윤

[139 rows x 4 columns]

In [121]:
import numpy as np

In [122]:
## item_price가 결측치인 데이터만 출력

# 인덱스 조건식(item_price가 결측치인)
# df2['item_price'] == np.nan : 결측치는 비교연산도 불가능
flag_null = df2['item_price'].isna()

df2.loc[flag_null]

         purchase_date item_name  item_price customer_name
1     2019-07-13 13:05       상품S         NaN           김우찬
2     2019-05-11 19:42       상품A         NaN           김유찬
4      2019-04-22 3:09       상품A         NaN           김강현
6     2019-05-18 19:16       상품A         NaN           김재준
14    2019-06-11 12:57       상품A         NaN           김재호
...                ...       ...         ...           ...
2987  2019-01-04 13:05       상품K         NaN           김정훈
2990  2019-07-16 11:34       상품O         NaN           김서준
2992  2019-07-27 10:13       상품C         NaN           김동하
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주

[387 rows x 4 columns]

In [123]:
## item_name 이 상품 A이고 item_price가 결측치인 데이터 출력
# 인덱스 조건식 : item_name = '상품A(flag)' and item_price가 결측치(flag_null)인 데이터 출력
df2.loc[
    flag & flag_null
]

         purchase_date item_name  item_price customer_name
2     2019-05-11 19:42       상품A         NaN           김유찬
4      2019-04-22 3:09       상품A         NaN           김강현
6     2019-05-18 19:16       상품A         NaN           김재준
14    2019-06-11 12:57       상품A         NaN           김재호
300   2019-04-06 11:06       상품A         NaN           김태인
361    2019-01-21 3:33       상품A         NaN           김진우
667   2019-03-16 17:23       상품A         NaN           김주원
838    2019-06-24 5:06       상품A         NaN           김시호
844    2019-03-15 9:14       상품A         NaN           김강현
957   2019-07-19 14:12       상품A         NaN           김서윤
1260  2019-01-15 22:59       상품A         NaN           김하진
1394  2019-07-07 21:49       상품A         NaN           김은우
1474   2019-04-11 2:22       상품A         NaN           김선우
1892   2019-07-31 1:32       상품A         NaN           김윤찬
1937   2019-02-13 7:28       상품A         NaN           김시환
1977   2019-02-28 4:11       상품A         NaN           김서준
2063  2019-05-25 12:51       상품A         NaN           김재민
2278   2019-07-14 3:39       상품A         NaN           김시우
2636  2019-03-09 14:20       상품A         NaN           김우찬
2669  2019-03-05 20:21       상품A         NaN           김주혁
2732  2019-01-28 22:13       상품A         NaN           김윤호
2821  2019-06-21 11:09       상품A         NaN           김승훈

In [124]:
df2.loc[
    flag & -flag_null      # ~(비트연산자: 0 과 1 교체)flag_null도 가능
]

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
9     2019-01-28 10:47       상품A       100.0           김태윤
31    2019-06-29 10:01       상품A       100.0           김하민
35     2019-01-12 3:26       상품A       100.0           김건희
61    2019-02-11 17:00       상품A       100.0           김성윤
...                ...       ...         ...           ...
2875  2019-06-03 17:33       상품A       100.0           김서진
2886  2019-04-25 17:15       상품A       100.0           김강현
2897  2019-05-20 14:05       상품A       100.0           김지안
2951   2019-05-06 2:24       상품A       100.0           김주혁
2973  2019-07-13 21:38       상품A       100.0           김태윤

[117 rows x 4 columns]

In [125]:
## 상품A이고 가격이 결측치가 아닌 'item_price'의 평균을 구한다.
mean_data = df2.loc[
    flag & ~flag_null, 'item_price'
].mean()

mean_data

100.0

In [126]:
# mean_data를 상품A이고 가격이 결측치인 데이터에 대입
## fillna.()이용
df2.loc[flag & flag_null].fillna(mean_data)
## Series 데이터에 특정 데이터를 대입
df2.loc[flag & flag_null, 'item_price'] = mean_data

In [127]:
df2.loc[flag & flag_null]

         purchase_date item_name  item_price customer_name
2     2019-05-11 19:42       상품A       100.0           김유찬
4      2019-04-22 3:09       상품A       100.0           김강현
6     2019-05-18 19:16       상품A       100.0           김재준
14    2019-06-11 12:57       상품A       100.0           김재호
300   2019-04-06 11:06       상품A       100.0           김태인
361    2019-01-21 3:33       상품A       100.0           김진우
667   2019-03-16 17:23       상품A       100.0           김주원
838    2019-06-24 5:06       상품A       100.0           김시호
844    2019-03-15 9:14       상품A       100.0           김강현
957   2019-07-19 14:12       상품A       100.0           김서윤
1260  2019-01-15 22:59       상품A       100.0           김하진
1394  2019-07-07 21:49       상품A       100.0           김은우
1474   2019-04-11 2:22       상품A       100.0           김선우
1892   2019-07-31 1:32       상품A       100.0           김윤찬
1937   2019-02-13 7:28       상품A       100.0           김시환
1977   2019-02-28 4:11       상품A       100.0           김서준
2063  2019-05-25 12:51       상품A       100.0           김재민
2278   2019-07-14 3:39       상품A       100.0           김시우
2636  2019-03-09 14:20       상품A       100.0           김우찬
2669  2019-03-05 20:21       상품A       100.0           김주혁
2732  2019-01-28 22:13       상품A       100.0           김윤호
2821  2019-06-21 11:09       상품A       100.0           김승훈

In [128]:
# item_name 데이터들의 고유한 값들을 출력
## unique 함수 사용
unique_values = df['item_name'].unique()
print(unique_values)

['상품A' '상품S' '상품Z' '상품V' '상품O' '상품U' '상품L' '상품C' '상품I' '상품R' '상품X' '상품G'
 '상품P' '상품Q' '상품Y' '상품N' '상품W' '상품E' '상품K' '상품B' '상품F' '상품D' '상품M' '상품H'
 '상품T' '상품J']

In [129]:
## 집합의 형태   {} -> dict, set(변환)
list(set(df2['item_name']))

['상품S',
 '상품K',
 '상품Q',
 '상품O',
 '상품Y',
 '상품W',
 '상품R',
 '상품L',
 '상품V',
 '상품G',
 '상품A',
 '상품H',
 '상품N',
 '상품F',
 '상품U',
 '상품I',
 '상품B',
 '상품M',
 '상품X',
 '상품E',
 '상품T',
 '상품C',
 '상품J',
 '상품Z',
 '상품P',
 '상품D']

In [130]:
# 빈도 수를 체크하는 함수 : value_counts() + index 출력
df2['item_name'].value_counts().index

Index(['상품S', '상품A', '상품R', '상품P', '상품V', '상품C', '상품F', '상품D', '상품Q', '상품O',
       '상품W', '상품N', '상품T', '상품J', '상품X', '상품I', '상품B', '상품M', '상품L', '상품G',
       '상품K', '상품H', '상품U', '상품E', '상품Y', '상품Z'],
      dtype='object', name='item_name')

In [131]:
# item_name에 중복 데이터를 제거한 새로운 리스트를 출력
# for문을 이용한다.
name_list = list(df2['item_name'])
# 새로운 빈 리스트(result)를 생성
result=[]
# item_name의 값들을 기준으로 반복문 실행(변수 i)
for i in name_list:
    # result에 i가 존재하지 않는가
    # case 1 (비교 연산자 -> 포함(in)되어 있지 않다(not).)
    # if i not in result:
    # case 2 (list의 내장 함수 이용 : count())
    if result.count(i) == 0:
        # 존재하지 않는다면 result에 i를 추가
        result.append(i)
# result 출력
print(result)

['상품A', '상품S', '상품Z', '상품V', '상품O', '상품U', '상품L', '상품C', '상품I', '상품R', '상품X', '상품G', '상품P', '상품Q', '상품Y', '상품N', '상품W', '상품E', '상품K', '상품B', '상품F', '상품D', '상품M', '상품H', '상품T', '상품J']

In [132]:
# case 3 (list 내장함수 중 index())
## 특정 데이터의 위치를 출력 -> 데이터가 존재하지 않으면 에러 발생 
result = []

for i in name_list:
    try:
        # 시도할 코드
        result.index(i)
    except:
        # try 구문 코드가 에러가 발생한다면
        result.append(i)

print(result)

['상품A', '상품S', '상품Z', '상품V', '상품O', '상품U', '상품L', '상품C', '상품I', '상품R', '상품X', '상품G', '상품P', '상품Q', '상품Y', '상품N', '상품W', '상품E', '상품K', '상품B', '상품F', '상품D', '상품M', '상품H', '상품T', '상품J']

In [133]:
item_list = df2['item_name'].unique()

for i in item_list:
    # print(item)
    # i : item_list에 원소들이 하나씩 대입
    # i 변수를 이용하여 인덱스의 조건식 생성
    # 상품A부터 상품Z까지 조건식을 반복적으로 생성
    flag = df2['item_name']==i
    # print(flag.head(3))
    # item_price가 결측치인 인덱스 조건식
    flag_null = df2['item_price'].isna()

    #flag 조거식과 flag_null의 부정 조건식에 item_price 평균
    mean_data = df2.loc[flag & ~flag_null, 'item_price'].mean()
    # mean_data를 flag조건식과 flag_null 조건식에 item_price 대입
    df2.loc[flag & flag_null, 'item_price'] = mean_data

In [134]:
df2.isna().sum()

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64

In [135]:
df2[['item_name', 'item_price']].groupby(['item_name']).mean()

           item_price
item_name
상품A             100.0
상품B             200.0
상품C             300.0
상품D             400.0
상품E             500.0
상품F             600.0
상품G             700.0
상품H             800.0
상품I             900.0
상품J            1000.0
상품K            1100.0
상품L            1200.0
상품M            1300.0
상품N            1400.0
상품O            1500.0
상품P            1600.0
상품Q            1700.0
상품R            1800.0
상품S            1900.0
상품T            2000.0
상품U            2100.0
상품V            2200.0
상품W            2300.0
상품X            2400.0
상품Y            2500.0
상품Z            2600.0

In [136]:
## fillna()를 이용하여 결측치를 대체
flag = df['item_name'] == '상품A'
test_df = df.loc[flag]

In [137]:
# test_df에 item_price를 기준으로 오름차순 정렬
test_df.sort_values(['item_price'], inplace=True)

C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\168354443.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.sort_values(['item_price'], inplace=True)

In [138]:
## test_df에서 item_price가 결측치인 데이터를 전의 데이터로 치환
# test_df['item_price'].fillna(method='ffill', inplace= True)

In [139]:
test_df.isna().sum()

purchase_date     0
item_name         0
item_price       22
customer_name     0
dtype: int64

In [140]:
test_df['item_price'].mean()

100.0

In [141]:
df[flag]=test_df

In [143]:
item_list = df['item_name'].unique()

for i in item_list:
    flag = df['item_name'] == i
    test_df = df.loc[flag]
    test_df.sort_values(['item_price'], inplace=True)
    test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
    df.loc[flag] = test_df

C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.sort_values(['item_price'], inplace=True)
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.sort_values(['item_price'], inplace=True)
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.sort_values(['item_price'], inplace=True)
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.sort_values(['item_price'], inplace=True)
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.sort_values(['item_price'], inplace=True)
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.sort_values(['item_price'], inplace=True)
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.sort_values(['item_price'], inplace=True)
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.sort_values(['item_price'], inplace=True)
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.sort_values(['item_price'], inplace=True)
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.sort_values(['item_price'], inplace=True)
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.sort_values(['item_price'], inplace=True)
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.sort_values(['item_price'], inplace=True)
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.sort_values(['item_price'], inplace=True)
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.sort_values(['item_price'], inplace=True)
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.sort_values(['item_price'], inplace=True)
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.sort_values(['item_price'], inplace=True)
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.sort_values(['item_price'], inplace=True)
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.sort_values(['item_price'], inplace=True)
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.sort_values(['item_price'], inplace=True)
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['item_price'] = test_df['item_price'].fillna(method='ffill')
C:\Users\서덕일\AppData\Local\Temp\ipykernel_12036\1033775742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame


In [144]:
df.isna().sum()

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64