In [1]:
# 라이브러리 로드
# import datetime.datetime
from datetime import datetime

In [2]:
time_data = "2024-03-26 09:45:00"
print(type(time_data))

<class 'str'>

In [3]:
# 문자열 데이터를 시계열 데이터로 변환
time = datetime.strptime(
    time_data,
    "%Y-%m-%d %H:%M:%S"
)
print(time)

2024-03-26 09:45:00

In [4]:
print(type(time))

<class 'datetime.datetime'>

In [5]:
time_data2 = "2024년03월"

In [9]:
time2 = datetime.strptime(
    time_data2,
    "%Y년%m월"
)
print(time2)

2024-03-01 00:00:00

In [10]:
## 시계열 데이터를 문자열 데이터로 변환
time.strftime('%Y년%m월')

'2024년03월'

In [11]:
time2.strftime('%A')

'Friday'

#### datetime에서 사용되는 format
- %Y : 년도 전체 표기 ('2024')
- %y : 년도 축약 표기('24')
- %m : 월 수 표기('03')
- %B : 월 문자 표기 ('March')
- %b : 월 축약 표기 ('Mar')
- %d : 일 수 표기('26')
- %H : 24시 기준 표기('20')
- %I : 12시 기준 표기('08')
- %M : 분 표기
- %S : 초 표기
- %p : AM/PM 표기
- %A : 요일 문자 표기('Friday')
- %a : 요일 축약 표기('Fri')
- %w : 요일 숫자 표기(0:일, 1:월, ..., 6:토)

In [1]:
import pandas as pd

In [2]:
pd.Timedelta(days=1)

Timedelta('1 days 00:00:00')

In [4]:
pd.Timestamp(year=2024, month=3,day=26)

Timestamp('2024-03-26 00:00:00')

In [5]:
# 문자열을 시계열로 변경
time_data3 = "2024-03-26"
pd.to_datetime(time_data3)

Timestamp('2024-03-26 00:00:00')

In [7]:
time_data4 = "2024년 3월"
pd.to_datetime(time_data4, format='%Y년 %m월')

Timestamp('2024-03-01 00:00:00')

In [8]:
time_data5 = "16:30:00 30-11-24"
pd. to_datetime(time_data5)

Timestamp('2024-11-30 16:30:00')