In [1]:
import database as db

In [2]:
# database라는 모듈 안에 있는 myDB Class 생성
db1 = db.myDB()

In [11]:
select1 = """
    select * from tran_1
"""
data = db1.sql_query(select1)

In [5]:
## 커스텀할 수 있도록 만든 module을 어떤 파일에서는 사용 가능하도록 하려면 python내의 환경변수 확인
import sys

In [8]:
# 환경변수
sys.path[-1].replace('\\','/')

'c:/Users/서덕일/AppData/Local/Programs/Python/Python312/Lib/site-packages'

In [9]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.1-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy<2,>=1.26.0 (from pandas)
  Downloading numpy-1.26.4-cp312-cp312-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.0 kB ? eta -:--:--
     ---------------------------------------- 61.0/61.0 kB 1.6 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\서덕일\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\서덕일\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.1-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   -- ------------------------------------- 0.8/11.5 MB 26.1 MB/s eta 0:00:01
   --------- ------------------------------ 2.7/11.5 MB 35.1 MB/s eta 0:00:01
   -------------- ------------------------- 4.2/11.5 MB 33.8 MB/s eta 0:00:01
   ----------------------- ---------------- 6.7/11.5 MB 39.0 MB/s eta 0:00:01
   -------------------------------- ------- 9.3/11.5 MB 42.8 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 50.1 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 43.5 MB/s eta 0:00:00
Downloading numpy-1.26.4-cp312-cp312-win_amd64.whl (15.5 MB)
   ---------------------------------------- 0.0/15.5 MB ? eta -:--:--
   ------ --------------------------------- 2.6/15.5 MB 54.9 MB/s eta 0:00:01
   ------------- -------------------------- 5.2/15.5 MB 54.9 MB/s eta 0:00:01
   -------------------- ------------------- 7.9/15.5 MB 50.4 MB/s eta 0:00:01
   --------------------------- ------------ 10.8/15.5 MB 54.4 MB/s eta 0:00:01
   ----------------------------------- ---- 13.7/15.5 MB 59.5 MB/s eta 0:00:01
   ---------------------------------------- 15.5/15.5 MB 54.4 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   --------------------------------------- 505.5/505.5 kB 31.0 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   --------------------------------------- 345.4/345.4 kB 20.9 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.1 pytz-2024.1 tzdata-2024.1

In [10]:
import pandas as pd

In [12]:
# sql을 통해서 받아온 데이터를 표의 형태로 출력
df = pd.DataFrame(data)

In [13]:
df

     transaction_id   price         payment_date customer_id
0       T0000000114   50000  2019-02-01 01:37:23    HD678019
1       T0000000116  210000  2019-02-01 02:47:23    IK452215
2       T0000000117  170000  2019-02-01 04:33:46    PL542865
3       T0000000118  120000  2019-02-01 04:36:50    GD372798
4       T0000000119  180000  2019-02-01 05:25:18    IK782104
...             ...     ...                  ...         ...
4993    T0000005108  210000  2019-06-15 02:42:41    HD315748
4994    T0000005109  150000  2019-06-15 03:36:16    HI215420
4995    T0000005110   50000  2019-06-15 03:44:06    IK880102
4996    T0000005111  210000  2019-06-15 04:14:06    IK074758
4997    T0000005112   50000  2019-06-15 04:42:38    HD444151

[4998 rows x 4 columns]