## 특정 경로에 있는 파일의 목록 로드
1. ㅇ리

In [1]:
import os
import glob
import pandas as pd

In [53]:
# os 라이브러리 이용
os.listdir('../../../../바탕 화면/Data/csv/2017')

['201701_expense_list.csv',
 '201702_expense_list.csv',
 '201703_expense_list.csv',
 '201704_expense_list.csv',
 '201705_expense_list.csv',
 '201706_expense_list.csv',
 '201707_expense_list.csv',
 '201708_expense_list.csv',
 '201709_expense_list.csv',
 '201710_expense_list.csv',
 '201711_expense_list.csv',
 '201712_expense_list.csv']

In [54]:
# 파일 목록 로드 경로 변수 저장

file_path = '../../../../바탕 화면/Data/csv/2017/'
file_list = os.listdir('../../../../바탕 화면/Data/csv/2017')
# file_list

In [55]:

result_2017 = pd.DataFrame()

In [56]:
for file in file_list:
    df = pd.read_csv(file_path+file)
    result_2017 = pd.concat([result_2017,df], axis=0, ignore_index=True)

In [57]:
file_path2 = '../../../../바탕 화면/Data/csv/2019/'
file_list2 = os.listdir('../../../../바탕 화면/Data/csv/2019')

In [58]:
result_2019 = pd.DataFrame()

In [59]:
for file in file_list2:
    df2 = pd.read_json(file_path2+file)
    result_2019 = pd.concat([result_2019,df2], axis=0, ignore_index=True)

In [60]:
file_path3 = '../../../../바탕 화면/Data/csv/2020/'
file_list3 = os.listdir('../../../../바탕 화면/Data/csv/2020')

In [61]:
result_2020 = pd.DataFrame()

In [62]:
for file in file_list3:
    df3 = pd.read_excel(file_path3+file)
    result_2020 = pd.concat([result_2020,df3], axis=0, ignore_index=True)

In [63]:
file_path4 = '../../../../바탕 화면/Data/csv/2021/'
file_list4 = os.listdir('../../../../바탕 화면/Data/csv/2021')

In [64]:
result_2021 = pd.DataFrame()

In [65]:
pip install lxml

Requirement already satisfied: lxml in c:\users\서덕일\appdata\local\programs\python\python312\lib\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.

In [66]:
import lxml

In [67]:
for file in file_list4:
    if file.endswith('.xlsx'):
        df = pd.read_excel(file_path4+file)
        result_2021 = pd.concat([result_2021,df], axis=0, ignore_index=True)
    elif file.endswith('.csv'):
        df = pd.read_csv(file_path4+file)
        result_2021 = pd.concat([result_2021,df], axis=0, ignore_index=True)
    elif file.endswith('.json'):
        df = pd.read_json(file_path4+file)
        result_2021 = pd.concat([result_2021,df], axis=0, ignore_index=True)
    elif file.endswith('.xml'):
        df = pd.read_xml(file_path4+file)
        result_2021 = pd.concat([result_2021,df], axis=0, ignore_index=True)

In [68]:
result_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335276 entries, 0 to 335275
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   nid                335276 non-null  int64
 1   title              335276 non-null  object
 2   url                335276 non-null  object
 3   dept_nm_lvl_1      335276 non-null  object
 4   dept_nm_lvl_2      335276 non-null  object
 5   dept_nm_lvl_3      287609 non-null  object
 6   dept_nm_lvl_4      158312 non-null  object
 7   dept_nm_lvl_5      88238 non-null   object
 8   exec_yr            335276 non-null  int64
 9   exec_month         335276 non-null  int64
 10  expense_budget     242096 non-null  float64
 11  expense_execution  242096 non-null  float64
 12  category           86759 non-null   object
 13  dept_nm_full       335276 non-null  object
 14  exec_dt            335276 non-null  object
 15  exec_loc           333374 non-null  object
 16  exec_purpose       335276 non-null  object
 17  target_nm          334220 non-null  object
 18  payment_method     335276 non-null  object
 19  exec_amount        335276 non-null  int64
 20  bimok              74692 non-null   object
dtypes: float64(2), int64(4), object(15)
memory usage: 53.7+ MB

In [69]:
file_list4[0].split('.')[-1]

'csv'

In [70]:
file_name, file_end = os.path.splitext(file_list4[0])

In [71]:
result2_2021 = pd.DataFrame()

## 확장자 선택 후 해당 확장자만 result2_2021에 결합
for file in file_list4:
    if file.split('.')[-1] in ['xlsx', 'xls']:
        df = pd.read_excel(file_path4+file)
        result2_2021 = pd.concat([result2_2021,df], axis=0, ignore_index=True)

In [72]:
result2_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83819 entries, 0 to 83818
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                83819 non-null  int64
 1   title              83819 non-null  object
 2   url                83819 non-null  object
 3   dept_nm_lvl_1      83819 non-null  object
 4   dept_nm_lvl_2      83819 non-null  object
 5   dept_nm_lvl_3      67930 non-null  object
 6   dept_nm_lvl_4      24831 non-null  object
 7   dept_nm_lvl_5      1473 non-null   object
 8   exec_yr            83819 non-null  int64
 9   exec_month         83819 non-null  int64
 10  expense_budget     60524 non-null  float64
 11  expense_execution  60524 non-null  float64
 12  category           980 non-null    object
 13  dept_nm_full       83819 non-null  object
 14  exec_dt            83819 non-null  object
 15  exec_loc           83185 non-null  object
 16  exec_purpose       83819 non-null  object
 17  target_nm          83467 non-null  object
 18  payment_method     83819 non-null  object
 19  exec_amount        83819 non-null  int64
 20  bimok              18427 non-null  object
dtypes: float64(2), int64(4), object(15)
memory usage: 13.4+ MB

In [73]:
globals()['a1'] = 10
print(a1)

10

In [74]:
## 2021 폴더에 있는 파일들을 각각 다른 변수에 저장
file_path4 = '../../../../바탕 화면/Data/csv/2021/'
file_list4 = os.listdir(file_path4)

for file in file_list4:
    name, end = os.path.splitext(file)
    end=end[1:]
    if end == 'csv':
       df = pd.read_csv(file_path4+file) 
    elif end =='json':
        df = pd.read_json(file_path4+file)   
    elif end =='xml':
        df = pd.read_xml(file_path4+file)
    elif end in ['xlsx', 'xls']:
        df = pd.read_excel(file_path4+file)        
    else:
        continue 


globals()[f"{name}_{end}"] = df.copy()

In [75]:
globals()['202112_expense_list_xml'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10344 entries, 0 to 10343
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                10344 non-null  int64
 1   title              10344 non-null  object
 2   url                10344 non-null  object
 3   dept_nm_lvl_1      10344 non-null  object
 4   dept_nm_lvl_2      10344 non-null  object
 5   dept_nm_lvl_3      8507 non-null   object
 6   dept_nm_lvl_4      3184 non-null   object
 7   dept_nm_lvl_5      177 non-null    object
 8   exec_yr            10344 non-null  int64
 9   exec_month         10344 non-null  int64
 10  expense_budget     10344 non-null  int64
 11  expense_execution  10344 non-null  int64
 12  category           159 non-null    object
 13  dept_nm_full       10344 non-null  object
 14  exec_dt            10344 non-null  object
 15  exec_loc           10284 non-null  object
 16  exec_purpose       10344 non-null  object
 17  target_nm          10282 non-null  object
 18  payment_method     10344 non-null  object
 19  exec_amount        10344 non-null  int64
dtypes: int64(6), object(14)
memory usage: 1.6+ MB

In [76]:
# 지정된 경로에 파일들을 하나의 데이터 프레임으로 결합하여 되돌려주는 함수 생성
# 매개 변수 -> 경로, 확장자명
def data_load(_path,_end='csv'):
    # _path : 파일 경로
    # _end : 파일의 확장자명
    file_list = os.listdir(_path)
    result = pd.DataFrame()
    _path = _path+'/'
    for file in file_list:
        # file <- 파일명
        if file.endswith(_end):
            if _end == 'csv':
                df = pd.read_csv(_path + file)
            elif _end == 'json':
                df = pd.read_json(_path + file)
            elif _end == 'xml':
                df = pd.read_xml(_path + file)
            elif _end in ['xlsx', 'xls'] :
                df = pd.read_excel(_path + file)
            else:
                continue
        result = pd.concat([result, df],
                           axis=0, ignore_index=True)
    return result

In [2]:
## os 라이브러리 이용하여 파일 list
print(
    os.listdir('../../../../바탕 화면/Data/csv/num_3/')
)
print(
    glob.glob('../../../../바탕 화면/Data/csv/num_3/*.*')     # /파일명.확장자(*=all)
)

['campaign_master.csv', 'class_master.csv', 'customer_master.csv', 'use_log.csv']
['../../../../바탕 화면/Data/csv/num_3\\campaign_master.csv', '../../../../바탕 화면/Data/csv/num_3\\class_master.csv', '../../../../바탕 화면/Data/csv/num_3\\customer_master.csv', '../../../../바탕 화면/Data/csv/num_3\\use_log.csv']

In [ ]:
file_list5 = glob.glob('../../../../바탕 화면/Data/csv/num_3/*.csv')

file_list5

In [7]:
for file in file_list5:
    # df = pd.read_csv(file)
    folder, name = os.path.split(file)
    head, tail = os.path.splitext(name)
    globals()[f"{head}"]=pd.read_csv(file)

In [ ]:
use_log

In [ ]:
campaign_master

In [72]:
def load_folder(folder):
    file_list = glob.glob(folder + '/*.*') 
    for file in file_list:
        folder_path, name = os.path.split(file)
        head, tail = os.path.splitext(name)
        if tail == '.csv':
            df = pd.read_csv(file)
        elif tail == '.json':
            df = pd.read_json(file)
        elif tail == '.xml':
            df = pd.read_xml(file)
        elif tail in ['.xlsx', '.xls']:
            df = pd.read_excel(file)
        else:
            print(f"지원되지 않는 확장자: {tail}")
            continue

        globals()[f'"{head}"'] = df.copy()
    print('Folder loaded')

In [73]:
load_folder('../../../../바탕 화면/Data/csv/num_3')

Folder loaded

In [74]:
use_log

                 log_id customer_id     usedate
0       L00000049012330    AS009373  2018-04-01
1       L00000049012331    AS015315  2018-04-01
2       L00000049012332    AS040841  2018-04-01
3       L00000049012333    AS046594  2018-04-01
4       L00000049012334    AS073285  2018-04-01
...                 ...         ...         ...
197423  L00000049209753    TS977703  2019-03-31
197424  L00000049209754    TS979550  2019-03-31
197425  L00000049209755    TS995299  2019-03-31
197426  L00000049209756    TS995853  2019-03-31
197427  L00000049209757    TS999079  2019-03-31

[197428 rows x 3 columns]

In [75]:
def read_df(_path, _encoding='utf-8'):
    head, tail = os.path.splitext(_path)
    if tail == '.csv':
        df = pd.read_csv(_path, encoding=_encoding)
    elif tail == '.json':
        df = pd.read_json(_path, encoding=_encoding)
    elif tail == '.xml':
        df = pd.read_xml(_path, encoding=_encoding)
    elif tail in ['.xlsx', '.xls']:
        df = pd.read_excel(_path)
    else:
        df = pd.DataFrame()
    return df

In [76]:
read_df('../../../../바탕 화면/Data/csv/2014.csv','cp949')

          구분  사고(건)  사망(명)  부상(명)
0    2014년1월    169      7    347
1    2014년2월    145      3    268
2    2014년3월    206     12    358
3    2014년4월    182      4    360
4    2014년5월    218     17    474
5    2014년6월    233     13    457
6    2014년7월    229     14    431
7    2014년8월    222      9    447
8    2014년9월    225     15    430
9   2014년10월    210     14    392
10  2014년11월    209     10    386
11  2014년12월    178     12    329