In [1]:
## 문자열 내장 함수
a=' Hello world '

In [3]:
## 문자열을 모두 대문자로 변경
print(a.upper())
## 문자열을 모두 소문자로 변경
print(a.lower())
## 대문자를 소문자로 소문자로 변경
print(a.swapcase())
## 단어의 첫 글자만 대문자로 변경
print(a.title())

 HELLO WORLD
 hello world
 hELLO WORLD
 Hello World

In [4]:
a=='Hello wolrd'

False

In [6]:
## 문자열에서 좌우의 공백을 제거
# 벗겨내다->strip()->인자의 값을 기본값으로 사용->공백 제거
a
a.strip()

'Hello world'

In [7]:
# 문자열에서 좌측의 공백을 제거
a.lstrip()

'Hello world '

In [9]:
# 문자열에서 우측의 공백을 제거
a.rstrip()

' Hello world'

In [10]:
price="$100"
#  price를 숫자의 형태로 변경

In [ ]:
# 에러발생
# $가 숫자로 변경되지 않기 때문
int(price)

In [13]:
## price를 숫자로 바꾸기 위해서 왼쪽에 있는 $를 벗겨낸다.
price=price.lstrip('$')
print(price,type(price))
price=int(price)
print(price,type(price))

100 <class 'str'>
100 <class 'int'>

In [18]:
test_str="\n\t text \t \n"

In [16]:
test_str.strip()

'text'

In [19]:
## strip() 함수는 문자가 시작되기 전, 문자가 끝나고 나서 데이터들을 제거
## 문자열 사이의 데이터들을 변경해주기 위한 함수
## replace(변경할 문자열, 치환 문자열)
a.replace('Hello','Hi')

' Hi world '

In [20]:
## 공백을 제거할 이유로 replace()
a.replace(" ","")

'Helloworld'

In [21]:
test_str2="Hello \n World"

In [22]:
print(test_str2)

Hello
 World

In [23]:
# 문자열 사이의 공백이 제거 되지 않는다.
test_str2.strip()

'Hello \n World'

In [24]:
test_str2.replace('\n','')

'Hello  World'

In [26]:
# 문자열을 리스트로 변경
a="test test2 test3"

In [ ]:
# 문자 하나 하나씩을 각 원소로 하여 리스트 생성
list(a)

In [31]:
# 문자열에서 특정 문자로 글자를 나눠서 리스트로 생성
# split()
a.split()

['test', 'test2', 'test3']

In [32]:
b='20/30/40'

In [33]:
b.split('/')

['20', '30', '40']

In [34]:
# 문자열에서 비교 연산을 하는 함수
query="select * from table"
query2="""
    SELECT
    *
    from
    table
"""

In [39]:
# query, query2가 select로 시작하는가?
query[:6]=='select'

문자열은 'select'로 시작합니다.

True

In [40]:
query2.strip().lower()[:6]=='select'

True

In [46]:
query.lower().split()[0]=='select'

True

In [47]:
query2.lower().split()[0]=='select'

True

In [51]:
query.lower().strip().startswith('select')

True

In [52]:
query2.lower().strip().startswith('select')

True